<%- include('./partials/head', {tituloPagina:'inicio', stylesheet:'style.css'}) %>

<%- include('./partials/header', {}) %>
<body>
  

  <h1></h1>
  <a href="/pokemon">Buscar Pokémon</a>

  <div class="pokemon-container">
    <ul class="pokemon-list">
      <% pokemonTypes.forEach(function(type) { %>
        <% type.pokemon.forEach(function(pokemon) { %>
          <li class="pokemon-item <%= type.type %>">
            <img class="pokemon-image" src="<%= pokemon.sprites.front_default %>" alt="<%= pokemon.name %>">
            <h3 class="pokemon-name"><%= type.type %></h3>
            <p class="pokemon-details"><%= pokemon.types.join(', ') %></p>
          </li>
        <% }); %>
      <% }); %>
    </ul>
  </div>
  


  </div>
</body>


