<%- include('./partials/head', {tituloPagina:'inicio', stylesheet:'style.css'}) %>

<body>
    <H1>Pokemon Cart</H1>
    <a href="/pokemon">Buscar Pokémon</a>
  <div class="pokemon-container">
    <!--POKEMON DE FUEGO  -->
    <h2 class="pokemon-type">Fire Type Pokémon</h2>
    <ul class="pokemon-list">
      <% firePokemon.forEach(function(pokemon) { %>
      <li class="pokemon-item">
        <h3 class="pokemon-name"><%= pokemon.name %></h3>
        <img class="pokemon-image" src="<%= pokemon.sprites.front_default %>" alt="<%= pokemon.name %>">
        <p class="pokemon-details">Height: <%= pokemon.height %></p>
        <p class="pokemon-details">Weight: <%= pokemon.weight %></p>
        <p class="pokemon-details">Type(s): <%= pokemon.types.join(', ') %></p>
      </li>
      <% }); %>
    </ul>

    <!--POKEMON DE AIRE  -->
    <h2 class="pokemon-type">Flying Type Pokémon</h2>
    <ul class="pokemon-list">
      <% airPokemon.forEach(function(pokemon) { %>
      <li class="pokemon-item">
        <h3 class="pokemon-name"><%= pokemon.name %></h3>
        <img class="pokemon-image" src="<%= pokemon.sprites.front_default %>" alt="<%= pokemon.name %>">
        <p class="pokemon-details">Height: <%= pokemon.height %></p>
        <p class="pokemon-details">Weight: <%= pokemon.weight %></p>
        <p class="pokemon-details">Type(s): <%= pokemon.types.join(', ') %></p>
      </li>
      <% }); %>
    </ul>

    <!--POKEMON DE AGUA  -->
    <h2 class="pokemon-type">Water Type Pokémon</h2>
    <ul class="pokemon-list">
      <% waterPokemon.forEach(function(pokemon) { %>
      <li class="pokemon-item">
        <h3 class="pokemon-name"><%= pokemon.name %></h3>
        <img class="pokemon-image" src="<%= pokemon.sprites.front_default %>" alt="<%= pokemon.name %>">
        <p class="pokemon-details">Height: <%= pokemon.height %></p>
        <p class="pokemon-details">Weight: <%= pokemon.weight %></p>
        <p class="pokemon-details">Type(s): <%= pokemon.types.join(', ') %></p>
      </li>
      <% }); %>
    </ul>


    <!--POKEMON DE TIERRA  -->
    <h2 class="pokemon-type">Ground Type Pokémon</h2>
    <ul class="pokemon-list">
      <% groundPokemon.forEach(function(pokemon) { %>
      <li class="pokemon-item">
        <h3 class="pokemon-name"><%= pokemon.name %></h3>
        <img class="pokemon-image" src="<%= pokemon.sprites.front_default %>" alt="<%= pokemon.name %>">
        <p class="pokemon-details">Height: <%= pokemon.height %></p>
        <p class="pokemon-details">Weight: <%= pokemon.weight %></p>
        <p class="pokemon-details">Type(s): <%= pokemon.types.join(', ') %></p>
      </li>
      <% }); %>
    </ul>
  </div>
</body>

</html>

